.custome_container_for_login {
    width: calc(100vw - 60vw);
    margin: 0 auto;
    height: 99.8vh;
}

.custome_container_for_login form {
    margin: 100px;
    border: 1px solid red;
    padding: 20px 20px;
    border-radius: 10px;
}